<h3>Hey {{user}}! </h3>
<p>Welcome to {{title}}</p>


<h4>Upcoming fights<h4>

<table>
  <tr>
    <th>Fight Id</th>
    <th>Fighter One</th>
    <th>Fighter Two</th>
  </tr>
  <tr>
    <td>{{fightId}}a</td>
    <td>{{one}}b</td>
    <td>{{two}}c</td>
  </tr>
</table>
