<h3>Hey {{user}}! </h3>
<p>Welcome to {{title}}</p>

<p>Your current balance: {{funds}}<p>


<h4>Upcoming fights<h4>

<table>
  <tr>
    <th>Fight Id</th>
    <th>Fighter One</th>
    <th>Fighter Two</th>
  </tr>
  <h1>HI</h1>
  {{#database}}
  <tr>
    <td>{{fightID}}</td>
    <td>{{fighterOne}}</td>
    <td>{{fighterTwo}}</td>
  </tr>
  {{/database}}
</table>
